<script type="text/javascript" src="http://sumu.synapse-computing.com:8001/static/js/easyXDM/easyXDM.debug.js"></script>
<div id="container"></div>
<script type="text/javascript">
var socket = new easyXDM.Socket({
    container: document.getElementById("container"),
    // remote: "http://sumu.synapse-computing.com/static/easyxdm/{{ html }}",
    remote: "http://sumu.synapse-computing.com/exdm/{{ html }}/",

    onMessage: function(message, origin){
        this.container.getElementsByTagName("iframe")[0].style.height = message + "px";
        this.container.getElementsByTagName("iframe")[0].style.width = "800px";
    }
});
</script>
