body {  
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;  
  font-size: 11pt;  
  line-height: 13pt;  
  background-color: #efefef;
}

h1 {  
  color: #9e060a;
}

h3 {  
  font-size: 11pt;  
  font-weight: bold;  
  margin-top: 32px;  
  margin-right: 0px;  
  margin-bottom: 0px;  
  margin-left: 0px;  
  color: #333333;
}

a {  
  color: #9e060a;
}

div.highlight {  
  color: #9e060a;  
  font-weight: bold;
}

span.highlight {  
  color: #9e060a;  
  font-weight: bold;
}

span.name_bold {  
  color: #333333;  
  font-weight: bold;
}

div.spacing {  
  height: 20px;
}

